@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{

    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{

    font-family: "Poppins", sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

.sidebar{
position: fixed;
width: 275px;
top:15%;
left: 0;
bottom: 0;
background: rgb(235, 232, 232);
padding-top: 50px;
}

.sidebar a{
display: block;
padding: 10px 20px;
color: red;
text-decoration: none;
letter-spacing: 1px;
font-size: 1.1rem;
font-weight: 500;
}

.sidebar i{
margin-right: 3%;
margin-left: 3%;
background-color: red;
width: 40px;
height: 40px;
border-radius: 50%;
padding-top: 6%;
padding-left: 5%;
color: white;
}

.sidebar a:hover{
margin-left: 20px;
transition: 0.4s;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>> for header <<<<<<<<<<<<<<<<<<<<<<<<< */

.header-container{
height: 15vh;
background-color: red;
width: 100%;
display: flex;
align-items:  center;
}

.header-container .header-logo{
height: 5rem;
width: 5rem;
background-color: black;
border-radius: 50%;
background-image: url(./logo.jpeg);
background-size: cover;
background-repeat: no-repeat;
margin-left: 5%;
}

.header-container .header-text{
height: 8vh;
width: 55%;
display: flex;
align-items: center;
padding-left: 1.5rem;
}

.header-container .header-text h1{
color: white;
font-weight: 700;
font-size: 2rem;
}

.header-container .user-icon{
height: 8vh;
width: 15%;
margin-left: 15%;
display: flex;
align-items: center;
}

.header-container .user-icon .icon{
width: 40px;
height: 40px;
border-radius: 50%;
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}

.header-container .user-icon .icon i{
color: white;
font-size: 1.7rem;
}

.header-container .user-icon .username p{
font-size: 1.2rem;
color: white;
font-weight: 500;
padding-left: 5px;
}

